body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cedff9;
}

.contenedor {
    text-align: center;
    margin-top: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px; /* espacio al rededor*/
    text-align: center;
}

main {
    padding: 20px;
}

aside {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form {
    font-family: "Trocchi", sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 95%; /* ancho */
}

input[type="text"], select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

textarea {
    width: calc(100% - 1px); /* ancho pero tiene en cuenta el padding */
    padding: 10px;
    resize: vertical; /* se agranda verticalmente */
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* hacemos que haga un borde redondeado */
    cursor: pointer; /*cambia el puntero a una mano*/
}

button:hover {
    background-color: #0056b3; /*cambia el color al pasar el puntero*/
}

footer {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}