body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cedff9;
}

.contenedor {
    text-align: center;
    margin-top: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

aside {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form {
    font-family: "Trocchi", sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 95%;
}

input[type="text"], select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}